body {
            max-width: 100%;
            font-family: 'Noto Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #2c3e50;
            color: #ecf0f1;
            font-weight: bold;
            user-select: none;
        }

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #2c3e50;
            color: #ecf0f1;
            padding: 5px 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1000;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .logo img {
            width: 40px;
            height: 40px;
            transition: transform 0.3s ease-in-out;
        }

        .logo img:hover {
            transform: scale(1.2);
        }

        @media (max-width: 768px) {
            .logo img {
                width: 40px;
                height: 40px;
            }
        }

        main {
            padding: 10px;
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .movie-info {
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
        }

        .movie-player {
            width: 100%;
margin: 0px 0;
            text-align: center;
        }

        @media (min-width: 768px) {
            .movie-player {
                width: 85%;
                margin: 1px 0;
                align-self: flex-start;
            }

            .movie-info {
                width: 100%;
                text-align: left;
                margin-left: 0;
            }
        }

        .movie-info h1 {
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
            line-height: 1.3;
        }

        .movie-info p {
            font-size: 15px;
            margin-bottom: 8px;
        }
